body{
    background: black;
    color: aliceblue;
    font-weight: bold;
    font-weight: 2em;
}

iframe{
    width: 80%;
    min-height: 400px;
    display: block;
    margin: 10px auto;
    border: 3px solid orange;
}